
.users-list {
    display:flex;
      margin: auto;
    list-style: none;
    flex-direction: column;
    
}

.user-row img {
    border-radius: 50%;
    object-fit: cover;
    margin: 20px;

    
}
.userBox{
    border: transparent;
    box-sizing: border-box;
    display: flex;
    flex-direction: left;
    justify-content: left;
    column-gap: 20px;
    position: relative;
    
    width: 98%;
    margin:10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    
 
}
.infoStyle{
   background-color:rgb(248, 248, 248);
   opacity: 0;
   height: 0;
   /* opacity = 0,heigth = 700px */
}
.userBox:hover{
    background-color: beige;
}


.buttonsContainer{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 50px;    
    column-gap: 10px;
    height: 40px;
    margin-top: 35px;
    
    
}




  .button-1:not(:focus) {
    background: #56A5DE  ;
  
   
    
    /* style for blurred state */
}
.button-1:focus {
  
    /* style for ficused state */
    outline: rgba(174, 174, 175, 0.438) solid 4px;      
    
}  

/* CSS */
.button-1 {
  background: #56A5DE   ;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  border-style: none;
  width: 100px;
  color: rgb(238, 238, 238);
}
